---

- name: Install required tools
  apt:
    name: [python3, python3-pip, python3-dev, python3-venv, git, nginx]
    update_cache: yes

- name: Add the user 'traces'
  user:
    name: traces
    group: www-data

- name: Allow user www-data to use docker
  command: usermod -aG docker traces

- name: Checkout trace api application from git repository
  git:
    repo: 'https://github.com/Trace-Share/Trace-API.git'
    dest: /trace-api
    version: master

- name: Build trace tools docker image
  become: true
  command: bash -c "cd /trace-api && DOCKER_UID=$(id -u traces) DOCKER_GID=$(id -g www-data) bash build_docker_image.sh"

- name: Install virtualenv via pip
  pip:
    name: virtualenv
    executable: pip3

- name: Install python requirements
  pip:
    requirements: /trace-api/requirements.txt
    virtualenv: /trace-api/venv
    virtualenv_python: python3

- name: Configure traceapi
  template:
    src: traceapi_config.ini.j2
    dest: /trace-api/config.ini

- name: Configure traceapi uwsgi
  copy:
    src: uwsgi.ini
    dest: /trace-api/uwsgi.ini

- name: Ensure correct permissions
  file:
    dest: /trace-api
    owner: traces
    group: www-data
    recurse: yes

- name: Configure traceapi service
  copy:
    src: traceapi.service
    dest: /etc/systemd/system/traceapi.service

- name: Start traceapi service
  systemd:
    name: traceapi
    enabled: true
    state: started

- name: Remove nginx default site
  file:
    state: absent
    path: /etc/nginx/sites-enabled/default

- name: Configure nginx
  template:
    src: trace_api
    dest: /etc/nginx/sites-available/trace-api

- name: Configure nginx
  file:
    src: /etc/nginx/sites-available/trace-api
    dest: /etc/nginx/sites-enabled/trace-api
    state: link

- name: Reload nginx
  systemd:
    name: nginx
    state: restarted

- name: Allow HTTP traffic on ufw firewall
  ufw:
    rule: allow
    port: 80
    proto: tcp
