[database]
connection_string = postgresql://{{ postgre_username }}:{{ postgre_password }}@localhost/{{ postgre_database }}

[storage]
ann_units_dir = storage/ann_units
units_dir = storage/units
mixes_dir = storage/mixes
