[Unit]
Description=uWSGI instance to serve trace api
After=network.target

[Service]
User=traces
Group=www-data
WorkingDirectory=/trace-api/
ExecStart=/bin/bash -c 'PATH=/trace-api/venv/bin:$PATH exec /trace-api/venv/bin/uwsgi --ini uwsgi.ini'

[Install]
WantedBy=multi-user.target